{% extends 'base/base.html' %}
{% load static %}

{% block tittle %}Agregar materiales{% endblock%}
{% block content %}

<main class="main">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="container-card-agregar">
            <div class="card p-5 mt-4 shadow">
                <h3 class="text-center">Registro de Materiales</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-addProd w-100 mt-3">Guardar Material</button>
                    <a href="{% url 'productos:regMateriales'%}" style="text-decoration: none;" class="btn btn-cancelProd w-100 mt-2">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</main>

{% block js %}
    <script src="{% static 'js/tratamientoFechas.js'%}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var inputElement1 = document.getElementById('id_precioDeCosto');
    
        inputElement1.addEventListener('input', function(event) {
            event.target.value = event.target.value.replace(/[^0-9]/g, '');
        });
    });
    </script>
{% endblock %}

{% endblock %}