<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Gastos PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 4px;
            text-align: center;
        }
        th {
            background-color: orange;
            color: white;
        }
        ul {
            list-style:circle;
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
    <h1 style="text-align: center;"><strong>Listado de Gastos</strong></h1>
    <strong>Rango de busqueda</strong><br>
    {% if fecha_inicio %}
        <strong>Fecha de inicio: <span>{{fecha_inicio}}</span></strong><br>
    {% else %}
        <strong>Fecha de inicio: <span>No asignada</span></strong><br>
    {% endif %}
    {% if fecha_fin %}
        <strong>Fecha de fin: <span>{{fecha_fin}}</span></strong><br>
    {% else %}
        <strong>Fecha de fin: <span>No asignada</span></strong><br>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha de gasto</th>
                <th>Tipo</th>
                <th>Forma de pago</th>
                <th>Proveedor</th>
                <th>Empleado</th>
                <th>Total</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
        {% for gasto in gastos %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ gasto.fecha|date:"d/m/Y" }}</td>
                <td>{{ gasto.tipo }}</td>
                <td>{{ gasto.formaDePago }}</td>
                {% if gasto.proveedor is None %}
                    <td> - </td>
                {% else %}
                    <td>{{ gasto.proveedor }}</td>
                {% endif %}
                {% if gasto.empleado is None %}
                    <td> - </td>
                {% else %}
                    <td>{{ gasto.empleado }}</td>
                {% endif %}
                {% load l10n %}
                {% localize on %}
                    <td>${{ gasto.monto }}</td>
                {% endlocalize %}
                <td>
                    <ul>
                        {% for detalle in gasto.detalleGasto.all %}
                            <li>
                                {{ detalle.materiales.nombre }} - {{ detalle.cantidad }} U - ${{ detalle.subTotal }}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No hay ventas disponibles.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
</body>
</html>
